<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Portfolio.com</h1>
    <p class="lead">Your portfolio in a single space.</p>
    <hr class="my-4">
    <p>Display your tweets. Display your info. Display Yourself.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>